.app-summary {
    padding: 0;
}

.app-settings {
    padding: 0;
}

.app-header {
    margin-top: 0px;
}

.app-icon-details {
    font-size: 60px;
    float: right;
}

.card-pf:hover {
    box-shadow: 0 1px 6px rgba(3, 3, 3, .35);
}

.container,
.container-fluid {
}

.container-cards-pf {
    margin-top: 10px;
}
