html,
#app {
    height: 100%;
}

body {
    height: 100%;
    overflow-x: hidden
}

a {
    cursor: pointer;
}

input[type="checkbox"].form-control {
    width: 20px !important;
    box-shadow: none;
}

textarea {
    resize: vertical !important;
}

.form-spinner-loader {
    display: inline-block;
    top: 6px;
    right: 6px;
}

.vue-js-switch .v-switch-core {
    border: 1px solid #bbbbbb !important;
    border-radius: 0px !important;
    height: 26px !important;
    width: 66px !important;
    background-color: #fafafa !important;
}

.vue-js-switch.toggled .v-switch-core {
    background-color: #0088ce !important;
}

.vue-js-switch .v-switch-core .v-switch-button {
    border-radius: 0px !important;
    height: 24px !important;
    width: 32px !important;
    transform: none !important;
    background: repeat-x #f1f1f1 !important;
    box-shadow: 0 0 2px rgba(3, 3, 3, .4) !important;
    background-image: linear-gradient(to bottom, #fafafa 0, #ededed 100%) !important;
}

.vue-js-switch.min-toggle .v-switch-core .v-switch-button {
    border-radius: 0px !important;
    height: 24px !important;
    width: 32px !important;
    transform: none !important;
    background: repeat-x #f1f1f1 !important;
    box-shadow: 0 0 2px rgba(3, 3, 3, .4) !important;
    background-image: linear-gradient(to bottom, #fafafa 0, #ededed 100%) !important;
}

.vue-js-switch.toggled .v-switch-core .v-switch-button {
    transform: translate3d(32px, 0px, 0px) !important;
}

.vue-js-switch.toggled.min-toggle .v-switch-core .v-switch-button {
    transform: translate3d(32px, 0px, 0px) !important;
}

.modal {
    z-index: 3;
    margin-left: 55px !important;
}

.modal-backdrop {
    z-index: 2 !important;
}

.modal-open .modal {
    padding-right: 0px !important;
}

.container-cards-pf {
    margin-left: 55px !important;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
    overflow: auto;
}

.container-cards-pf-apps {
    margin-left: 0px;
    margin-top: 0px;
}

#navbar-left:hover+.container-fluid.container-cards-pf {
    margin-left: 180px;
    z-index: 4;
}

#navbar-left:hover {
    width: 180px;
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
    z-index: 4;
}

#navbar-left:hover ul li a .list-group-item-value {
    display: block !important;
    z-index: 4;
}

#navbar-left {
    width: 55px;
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
}

.list-group-item-value {
    display: none !important;
}

.nav-pf-vertical {
    top: 0px !important;
    background: #393f43;
}

.nav-pf-vertical .list-group-item.active>a,
.nav-pf-vertical .list-group-item:hover>a {
    font-weight: inherit;
    background: #4d5257;
}

.nav-pf-vertical .list-group-item.active>a {
    padding-left: 18px !important;
}

.nav-pf-vertical .list-group-item:not(#dashboard-item) .list-group-item-value {
    line-height: 20px !important;
}

.nav-pf-vertical .list-group-item:not(#dashboard-item) {
    border-color: #4d5257;
}

.nav-pf-vertical .list-group-item:not(#dashboard-item)>a .fa,
.nav-pf-vertical .list-group-item:not(#dashboard-item)>a .glyphicon,
.nav-pf-vertical .list-group-item:not(#dashboard-item)>a .pficon {
    font-size: 18px;
    line-height: 20px !important;
}

.nav-pf-vertical .list-group-item:not(#dashboard-item)>a {
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 40px;
    line-height: 20px !important;
    padding: 10px 15px;
    position: relative;
    white-space: nowrap;
    width: 180px;
}

.li-empty {
    height: 10px;
}

.adjust-panel-body {
    color: #fff;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 14px;
    border-top: 1px solid #4d5257 !important;
}

#dashboard-item {
    border-top: 0px !important;
    border-color: #4d5257;
}

#dashboard-item>a {
    padding-left: 15px;
}

#dashboard-item>a>.list-group-item-value {
    line-height: 30px;
}

#navbar-left>.panel {
    background: #393f43;
}

#navbar-left.panel-group {
    margin-bottom: 0px !important;
}

.menu-item-left {
    cursor: pointer;
    padding-left: 25px !important;
    padding-top: 10px !important;
    color: #d1d1d1;
    padding-bottom: 10px !important;
    height: inherit !important;
}

.nav-pf-vertical .list-group-item>a {
    text-decoration: none !important;
}

.nav-pf-vertical .list-group-item:first-child {
    border-top: 2px solid #4d5257 !important;
}

.nav-pf-vertical .list-group-item:last-child {
    border-bottom: 1px solid #4d5257 !important;
}

li.active>a>span {
    margin-left: -3px;
}

.nav-pf-vertical .list-group-item:hover>a,
.menu-item-left:hover {
    background-color: #4d5258 !important;
}

.subs-item {
    padding-left: 35px !important;
}

.blank-slate-pf {
    border: 0px;
    background-color: transparent;
}

.global-search {
    padding-left: 0px !important;
}

.global-search-icon {
    display: none;
}

.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>th {
    font-family: inherit !important;
}

.table>thead input {
    background-image: none !important;
    border-radius: 1px !important;
    width: calc(50%) !important;
}

.table>thead {
    background-image: none !important;
}

.table>thead tr th:first-child {
    padding-left: 25px !important;
}

.table>tbody tr td:first-child {
    padding-left: 25px;
}

.table-condensed>tbody tr td:first-child {
    padding-left: initial;
}

.table-striped>tbody>tr:nth-of-type(even),
.table>thead {
    background-color: #fff;
}

.table>thead th {
    color: #464646 !important;
    border: none !important;
    background: #fff !important;
    border-bottom: 2px solid #0088ce !important;
    font-size: 14px !important;
}

.table>thead th.sorting:hover, .table>thead th.sortable:hover {
    cursor: pointer;
}

.table>tbody tr {
    background-color: white;
    height: 47px;
}

.table-condensed>tbody tr {
    height: 30px;
}

.table-condensed>tr td {
    height: 30px;
}

.table>tbody tr:hover {
    background-color: #def3ff;
}

.table>tbody tr td {
    line-height: 31px !important;
    white-space: nowrap;
}

.table>tbody tr td .modal {
    line-height: initial;
}

.table-footer {
    padding-left: 20px;
    padding-top: 5px;
    padding: 0px;
}

.table-footer select {
    font-size: 12px !important;
}

.table-footer .pull-left {
    font-size: 12px;
    line-height: 26px;
}

.table-footer .pull-left label {
    margin-bottom: 0px;
}

.table input:focus {
    border-color: #0088ce !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 136, 206, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 136, 206, 0.6) !important;
}

.text-align-left {
    text-align: left !important;
}

.text-align-right {
    text-align: right !important;
}

.table td,
.table th:not(.line-numbers) {
    text-align: left;
}

.popover-title.closable .close .pficon.pficon-close {
    margin-right: 0px !important;
}

.popover-title.closable>button {
    font-size: 14px;
}

.popover {
    min-width: 350px;
}

.popover-content {
    max-height: 350px;
    overflow: auto;
    overflow-x: hidden;
}

.panel.panel-default {
    box-shadow: none !important;
}

#providerDetails {
    padding: 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.provider-details {
    color: #0088ce;
    text-decoration: none;
}

#provider-markup {
    box-shadow: none;
}

.provider-details:hover {
    text-decoration: underline;
    cursor: pointer;
}

.responsive {
    overflow-x: initial !important;
}

.table.responsive {
    overflow-x: initial !important;
}

/* vue-good-table-2 - Table specific styles
************************************************/

table.vgt2{
    border-collapse: collapse;
    background-color: transparent;
    margin-bottom:  0px;
}
.table.vgt2{
    width: 100%;
    max-width: 100%;
    table-layout: auto;
}

.table.vgt2.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(35,41,53,.05);
}

.table.vgt2.table-bordered td, .vgt2 .table-bordered th {
    border: 1px solid #DDD;
}

.table.vgt2 td, .table.vgt2 th:not(.line-numbers) {
    padding: .75rem 1.5rem .75rem .75rem;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.rtl .table.vgt2 td, .rtl .table.vgt2 th:not(.line-numbers) {
    padding: .75rem .75rem .75rem 1.5rem;
}

.table.vgt2.condensed td, .table.vgt2.condensed th {
    padding: .4rem .4rem .4rem .4rem;
}

.table.vgt2 thead th, .table.vgt2.condensed thead th {
    vertical-align: bottom;
    border-bottom:  2px solid #ddd;
    padding-right: 1.5rem;
    background-color: rgba(35,41,53,0.03);
}
.rtl .table.vgt2 thead th, .rtl .table.vgt2.condensed thead th {
    padding-left:  1.5rem;
    padding-right:  .75rem;
}

.vgt2 tr.clickable {
    cursor: pointer;
}

.table.vgt2 input[type="text"], .table.vgt2 select{
    box-sizing: border-box;
    display: block;
    width: calc(100%);
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(35,41,53,.075);
    box-shadow: inset 0 1px 1px rgba(35,41,53,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

table.vgt2 th.sorting-asc,
table.vgt2 th.sorting-desc {
    color: rgba(0, 0, 0, 0.66);
}

table.vgt2 th.sorting:after,
table.vgt2 th.sorting-asc:after  {
    font-family: 'Material Icons';
    position:  absolute;
    height:  0px;
    width:  0px;
    content: '';
    display: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(0, 0, 0, 0.66);
    margin-top:  6px;
    margin-left:  5px;
}

.rtl table.vgt2 th.sorting:after,
.rtl table.vgt2 th.sorting-asc:after{
    margin-right:  5px;
    margin-left:  0px;
}

table.vgt2 th.sorting:hover:after{
    display: inline-block;
    border-bottom-color: rgba(35,41,53,0.25);
}

table.vgt2 th.sorting-asc:after,
table.vgt2 th.sorting-desc:after {
    display: inline-block;
}

table.vgt2 th.sorting-desc:after {
    border-top:  6px solid rgba(0, 0, 0, 0.66);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: none;
    margin-top:  8px;
}

.vgt2.responsive {
    width: 100%;
    overflow-x: auto;
}

.vgt-responsive {
    overflow-x: initial !important;
}

.vgt-inner-wrap {
    clear: both;
}

input.vgt-input {
    border-spacing: 0;border-collapse: collapse;
    margin: 0;
    background-image: none !important;
    border-radius: 1px !important;
    width: calc(50%) !important;
    box-sizing: border-box;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(35,41,53,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.vgt-input::placeholder, .vgt-select::placeholder {
    color: #999 !important;
    font-style: italic !important;
    opacity: 1 !important;
}

.vgt-input:focus, .vgt-select:focus {
    border-color: #0088ce;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,136,206,.6);
}

.vgt-global-search__input {
    padding-left: 0 !important;
}

.vgt-global-search__input>span.input__icon {
    display: none;
}

.vgt-global-search {
    background: none !important;
    border: none !important;
}

.vgt-wrap__footer {
    line-height: 1.66666667;
    box-sizing: border-box;
    background-color: rgba(35,41,53,0.05) !important;
    border: 1px solid #DDD !important;
    margin: 0;
    padding: 1rem;
}

.vgt-wrap__footer .footer__row-count__label {
    color: rgba(0, 0, 0, 0.44) !important;
    font-size: 13px !important;
    line-height: 26px;
    font-weight: 600;
}

.vgt-wrap__footer .footer__row-count__select {
    margin: 0;
    text-transform: none;
    font-size: 13px !important;
    display: inline-block;
    background-color: transparent;
    width: auto;
    padding: 0;
    border: 0;
    border-radius: 0;
    height: auto;
    margin-left: 8px;
    color: rgba(0, 0, 0, 0.55) !important;
    font-weight: bold;
}

.vgt-wrap__footer .footer__navigation {
    font-size: 13px !important;
    color: rgba(0, 0, 0, 0.44) !important;
    float: right !important;
}

.vgt-wrap__footer .footer__navigation__info, .vgt-wrap__footer .footer__navigation__page-info {
    margin: 0px 15px;
    font-size: 13px !important;
    font-weight: bold !important;
    color: rgba(0, 0, 0, 0.40) !important;
}

.vgt-wrap__footer .footer__navigation__page-btn .chevron {
    color: rgba(0, 0, 0, 0.66) !important;
    font-size: 14px !important;
    font-weight: 600;
    vertical-align: middle;
    width: auto !important;
    height: 24px;
    border-radius: 15%;
    position: relative;
    margin: 0 8px;
}

.vgt-wrap__footer .footer__navigation__page-btn .chevron.right::after {
    border-left-color: rgba(0, 0, 0, 0.66) !important;
}

.vgt-wrap__footer .footer__navigation__page-btn .chevron.left::after {
    border-right-color: rgba(0, 0, 0, 0.66) !important;
}

.vgt-wrap__footer .footer__navigation__page-btn>span {
    margin-top: 1px;
    display: inline-block;
}

/* END vue-good-table-2
************************************************/
