body {
  padding: 20px;
  display: none;
}

select {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 2px 6px;
  font-size: 12px;
  line-height: 1.66666667;
  border-radius: 1px;
}

a:focus,
a:hover {
  text-decoration: none;
}

textarea {
  resize: vertical;
}

dl {
  margin-bottom: 0px;
}

input[type="file"] {
  opacity: 0;
  margin-top: -30px;
  width: 105px;
}

.custom-file-upload {
  border: 1px solid #bbb;
  display: inline-block;
  padding: 2px 12px;
  cursor: pointer;
}

.header {
  margin-top: -20px;
}

.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  padding-bottom: 5px;
  padding-top: 0px;
  width: 100%;
  padding-left: 10px;
  background: #030303;
  color: #e5e5e5;
  border-top: 2px solid #39a5dc;
}

.crumb {
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 300;
  display: inline-block;
  margin-right: 6px;
}

.search {
  margin-bottom: 8px;
}

.fixed {
  position: fixed;
}

.empty {
  min-width: 15px;
}

.no-input {
  padding-top: 2px;
}

.footer-span {
  margin-right: 10px;
  margin-left: 4px;
}

.no-padding {
  padding: 0px;
}

.margin-top-md {
  margin-top: 60px !important;
}

.margin-top-lg {
  margin-top: 80px !important;
}

.status-icon {
  margin-left: 6px;
  font-size: 16px;
}

.margin-left-md {
  margin-left: 10px;
}

.margin-right-md {
  margin-right: 10px;
}

.card-pf:hover {
  box-shadow: 0 1px 6px rgba(3, 3, 3, .35);
}

.card-icon-def {
  font-family: 'PatternFlyIcons-webfont';
}

.list-group-item-container {
  border-top: none;
  border: 1px solid #eeeeee;
  margin-bottom: 15px;
}

.list-selected {
  background: #d6eaf6;
}

.button-minimum {
  min-width: 74px;
}

.list-view-pf .list-group-item-heading {
  flex: 1 0 calc(40% - 20px);
}

@media (min-width: 992px) {
  .list-view-pf .list-group-item-text {
    width: calc(75% - 80px);
  }
}

.list-view-pf-additional-info {
  width: initial;
}

.blank-slate-pf {
  border: none;
}

.route-card:hover {
  cursor: pointer;
}

.compact {
  margin-bottom: 0px;
}

.right-align {
  text-align: right;
}

.progress-description {
  max-width: 100%;
}

.full-width {
  width: 100%;
}

.adjust-filter-search {
  margin-right: -2px !important;
}

.task-adjust {
  width: 150px;
  margin-top: 8px;
}

.action-adjust {}

.info-adjust {}

.green {
  color: #3f9c35;
}

.red {
  color: #a30000;
}

.gray {
  color: #bbbbbb;
}

.white-background {
  background: #fff;
}

.span-right-margin {
  margin-right: 4px;
}

.span-right-margin-lg {
  margin-right: 8px;
}

.strongless {
  font-size: 16px;
  margin-right: 5px;
}
