body {
  padding: 20px;
}

.header {
  margin-top: -20px;
}

.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  padding-bottom: 5px;
  padding-top: 0px;
  width: 100%;
  padding-left: 10px;
  background: #030303;
  color: #e5e5e5;
  border-top: 2px solid #39a5dc;
}
