body {
  padding: 20px;
  display: none;
}

select {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 2px 6px;
  font-size: 12px;
  line-height: 1.66666667;
  border-radius: 1px;
}

textarea {
  resize: vertical;
}

dl {
  margin-bottom: 0px;
}

input[type="file"] {
  opacity: 0;
  margin-top: -30px;
  width: 105px;
}

.view-spinner {
  margin: auto;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 2;
}

.app-icon {
  float: right;
  margin-top: 15px;
  margin-right: -5px;
  font-size: 28px;
}

.custom-file-upload {
  border: 1px solid #bbb;
  display: inline-block;
  padding: 2px 12px;
  cursor: pointer;
}

.header {
  margin-top: -20px;
}

.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  padding-bottom: 5px;
  padding-top: 0px;
  width: 100%;
  padding-left: 10px;
  background: #030303;
  color: #e5e5e5;
  border-top: 2px solid #39a5dc;
}

iframe>.breadcrumb {
  display: none;
}

.iframe-embedded {
  border: none;
  padding-bottom: 30px;
  z-index: 1;
}

@media screen and (max-height: 480px) {
  .iframe-embedded {
    padding-bottom: 60px;
  }
}

.fake-modal-backdrop {
  position: fixed;
  background-color: #000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .5;
  z-index: 0;
}

.crumb {
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 12px;
  display: inline-block;
  margin-right: 9px;
}

.crumb-none {
  color: inherit;
  cursor: text;
}

.crumb-space {
  margin-left: 7px;
  font-size: 11px;
}

.crumb-none:focus,
.crumb-none:hover {
  color: inherit;
  text-decoration: none;
}

.search {
  margin-bottom: 8px;
}

.fixed {
  position: fixed;
}

.empty {
  min-width: 15px;
}

.no-input {
  padding-top: 2px;
}

.footer-span {
  margin-right: 10px;
  margin-left: 4px;
}

.no-padding {
  padding: 0px;
}

.margin-top-md {
  margin-top: 60px !important;
}

.margin-top-lg {
  margin-top: 80px !important;
}

.status-icon {
  margin-left: 6px;
  font-size: 16px;
}

.margin-left-md {
  margin-left: 10px;
}

.margin-right-md {
  margin-right: 10px;
}

.card-pf:hover {
  box-shadow: 0 1px 6px rgba(3, 3, 3, .35);
}

.card-icon-def {
  font-family: 'PatternFlyIcons-webfont';
}

.list-group-item-container {
  border-top: none;
  border: 1px solid #eeeeee;
  margin-bottom: 15px;
}

.list-selected {
  background: #d6eaf6;
}

.button-minimum {
  min-width: 74px;
}

.list-view-pf .list-group-item-heading {
  flex: 1 0 calc(40% - 20px);
}

@media (min-width: 992px) {
  .list-view-pf .list-group-item-text {
    width: calc(75% - 80px);
  }
}

.list-view-pf-additional-info {
  width: initial;
}

.blank-slate-pf {
  border: none;
}

.route-card:hover {
  cursor: pointer;
}

.compact {
  margin-bottom: 0px;
}

.right-align {
  text-align: right;
}

.progress-description {
  max-width: 100%;
}

.full-width {
  width: 100%;
}

.adjust-filter-search {
  margin-right: -2px !important;
}

.task-adjust {
  width: 150px;
  margin-top: 8px;
}

.action-adjust {}

.info-adjust {}

.green {
  color: #3f9c35;
}

.red {
  color: #a30000;
}

.gray {
  color: #9c9c9c;
}

.white-background {
  background: #fff;
}

.span-right-margin {
  margin-right: 4px;
}

.span-right-margin-lg {
  margin-right: 8px;
}

.strongless {
  font-size: 16px;
  margin-right: 5px;
}

.pass-meter {
  padding-top: 8px;
}

.pass-meter .pass-meter-message {
  display: none;
}

.pass-meter.hidden {
  display: block !important;
}

.task-spinner {
  float: right;
  margin-left: 12px;
  margin-right: -16px;
  margin-top: 1px;
}

.animate-repeat {}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition: all linear 0.25s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
}

.app-actions {
  border-left: 1px solid #dddddd;
}

.accordion-title {
  color: #0088ce;
}

.accordion-title:hover {
  color: #00659c;
  text-decoration: underline;
  cursor: pointer;
}

.first-button {
  margin-bottom: 8px;
  display: inherit;
}

@media screen and (max-width: 768px) {
  .app-actions {
    border-left: 0px;
    padding-top: 10px;
    padding-left: 20px;
  }
}

.app-icon-details {
  font-size: 50px;
  float: right;
}

.app-short-descpription {
  margin-top: 10px;
}

.app-version {
  color: #667;
}

.app-list-group {
  margin-bottom: 0px;
}

.no-padding {
  padding: 0px !important;
}

.app-list-group-item {
  background: #f5f5f5;
  padding: 10px 0px;
  border: 1px solid #eeeeee;
  border-left: 0;
  border-right: 0;
}
