<div ng-show="!view.isLoaded" class="spinner spinner-lg view-spinner"></div>
<div class="row">
  <iframe class="col-xs-12 col-sm-9 col-md-9 col-lg-10 iframe-embedded" ng-show="view.isLoaded" id="app-frame" class="iframe-embedded"
    ng-src="{{appURL}}"></iframe>

  <div ng-show="view.isLoaded" class="col-xs-12 col-sm-3 col-md-3 col-lg-2 app-actions">
    <img ng-src="../{{app.id}}/assets/{{app.icon}}" class="app-icon-details"></img>
    <h3 class="app-short-descpription">{{app.summary}}</h3>
    <h4 class="app-version">v{{app.release.version}}</h4>

    <ul class="list-group">
      <li class="list-group-item app-list-group-item no-padding">
        <div id="accordion-markup-about">
          <div>
            <div>
              <h4 class="accordion-title" data-toggle="collapse" data-parent="#accordion-markup-about" href="#collapseAbout">
                {{'About' | translate}}
              </h4>
            </div>
            <div id="collapseAbout" class="panel-collapse collapse in">
              <ul class="list-group app-list-group">
                <p>{{app.description}}</p>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item app-list-group-item no-padding">
        <div id="accordion-markup-author">
          <div>
            <div>
              <h4 class="accordion-title" data-toggle="collapse" data-parent="#accordion-markup-author" href="#collapseAuthor">
                {{'Author' | translate}}
              </h4>
            </div>
            <div id="collapseAuthor" class="panel-collapse collapse in">
              <ul class="list-group app-list-group">
                <p class="author-name">{{app.author.name}}</p>
                <a class="author-mail" ng-href="mailto:{{app.author.email}}" target="_top">{{app.author.email}}</a>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item app-list-group-item no-padding">
        <div id="accordion-markup-contains">
          <div>
            <div>
              <h4 class="accordion-title" data-toggle="collapse" data-parent="#accordion-markup-contains" href="#collapseContains">
                {{'Content' | translate}}
              </h4>
            </div>
            <div id="collapseContains" class="panel-collapse collapse in">
              <ul class="list-group app-list-group">
                <pre>{{app.content}}</pre>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li ng-if="app.url" class="list-group-item app-list-group-item">
        <button ng-click="goToExternal(app.url)" class="btn btn-primary card-pf-time-frame-filter" type="button">
          <span class="fa fa-external-link"></span> {{'Open' | translate}}
        </button>
      </li>
      <!-- <li class="list-group-item app-list-group-item">
        <button class="btn btn-default card-pf-time-frame-filter first-button" type="button">
          <span class="fa fa-refresh"></span> Check for Update
        </button>
        <button class="btn btn-primary card-pf-time-frame-filter" type="button">
          <span class="fa fa-cloud-download"></span> Update
        </button>
      </li> -->
    </ul>
  </div>
</div>
