html,
body,
#app {
  height: 100%;
}

.row-cards-pf {
  padding: 0px !important;
}

.right {
  float: right;
}

.app-header-logo {
  height: 25px;
  margin-top: -5px;
  margin-right: -8px;
  float: right;
}

.no-margin-top {
  margin-top: 0px;
}

.row-app {
  margin-top: 25px;
}
