<div ng-show="!view.isLoaded" class="spinner spinner-lg"></div>
<div ng-show="view.isLoaded">
  <h3>{{'Summary' | translate}}</h3>
  <div class="row">
    <div class="col-lg-6">
      <form class="form-horizontal">
        <div class="form-group compact">
          <label class="col-sm-2 control-label">{{'Hardware' | translate}}</label>
          <div class="col-sm-10 no-input">
            <p>{{localSystem.summary.hardware}}</p>
          </div>
        </div>
        <div class="form-group compact">
          <label class="col-sm-2 control-label">{{'Machine ID' | translate}}</label>
          <div class="col-sm-10 no-input">
            <p>{{localSystem.summary.machineId}}</p>
          </div>
        </div>
        <div class="form-group compact">
          <label class="col-sm-2 control-label">{{'Operating System' | translate}}</label>
          <div class="col-sm-10 no-input">
            <p>{{localSystem.summary.osRelease}}</p>
          </div>
        </div>
        <div class="form-group compact">
          <label class="col-sm-2 control-label">{{'Hostname' | translate}}</label>
          <div class="col-sm-10 no-input">
            <p><a ng-click="openChangeHostname()" data-toggle="modal" data-target="#hostnameChangeModal" href="">{{localSystem.summary.hostname}}</a></p>
          </div>
        </div>
        <div class="form-group compact">
          <label class="col-sm-2 control-label">{{'System Time' | translate}}</label>
          <div class="col-sm-10 no-input">
            <p><a ng-click="openChangeSystime()" data-toggle="modal" data-target="#systimeChangeModal" href="">{{localSystem.summary.date}} {{localSystem.summary.time}}</a></p>
          </div>
        </div>
        <div class="form-group compact">
          <label class="col-sm-2 control-label">{{'Power' | translate}}</label>
          <div class="col-sm-10">
            <div class="btn-group">
              <button ng-click="powerActions('restart')" class="btn btn-default btn-danger shutdown-privileged" data-action="restart" data-container="body">{{'Restart' | translate}}</button>
              <button data-toggle="dropdown" class="btn btn-default dropdown-toggle shutdown-privileged">
                      <span class="caret"></span>
                  </button>
              <ul role="menu" class="dropdown-menu">
                <li class="presentation">
                  <a ng-click="powerActions('restart')" role="menuitem" data-action="restart">{{'Restart' | translate}}</a>
                </li>
                <li class="presentation">
                  <a ng-click="powerActions('shutdown')" role="menuitem" data-action="shutdown">{{'Shut Down' | translate}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <h3>{{'Settings' | translate}}</h3>
  <div class="cards-pf">
    <div class="row row-cards-pf">
      <div ng-repeat="r in objects.allRoutes | orderBy:'value.name'" ng-click="goTo(r.id)" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 route-card">
        <div class="card-pf card-pf-accented">
          <h2 class="card-pf-title">
            <span class="{{r.value.icon}} card-icon-def"></span> {{r.value.name}}
          </h2>
          <div class="card-pf-body">
            <div>{{r.value.description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="hostnameChangeModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'Change hostname' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="changeHostname(localSystem.summary.newHostname)">

        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'FQDN' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="localSystem.summary.newHostname" class="form-control">
            </div>
          </div>
          <div ng-repeat="a in localSystem.summary.aliases" class="form-group">
            <label class="col-xs-12 col-sm-3 control-label" for="textInput-modal-markup">{{$first ? 'Alias' : '' | translate}}</label>
            <div class="col-xs-7 col-sm-6">
              <input type="text" ng-model="a.name" class="form-control">
            </div>
            <div class="col-xs-5 col-sm-2">
              <button ng-if="!$first" ng-click="removeAlias($index)" class="btn btn-default" type="button">
                <span class="fa fa-minus card-icon-def"></span>
              </button>
              <button ng-click="addAlias()" ng-if="$first" class="btn btn-default" type="button">
              <span class="fa fa-plus card-icon-def"></span>
            </button>
            </div>
          </div>
        </div>
        <div class="modal-footer submit">
          <button class="btn btn-default" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button class="btn btn-primary" value="submit" type="submit">{{'Save' | translate}}</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="systimeChangeModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" translate>{{'Change System time' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="saveSystime()">

        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Time Zone' | translate}} {{localSystem.summary.newTimezone}}</label>
            <div class="col-sm-9">
              <select required ng-options="t as t for t in localSystem.summary.timezones" ng-model="localSystem.summary.timezone" class="combobox form-control">
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Set time' | translate}}</label>
            <div class="col-sm-9">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                  {{systimeTypes[localSystem.summary.newTimeMode]}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="changeSystime('manually')" href="">{{'Manually' | translate}}</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="changeSystime('ntp')" href="">{{'Using NTP server' | translate}}</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div ng-show="localSystem.summary.newTimeMode == 'manually'" class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Date and Time' | translate}}</label>
            <div class="col-sm-6">
              <div id="date-picker" class="input-group date">
                <input required ng-model="localSystem.summary.newDate" type="text" class="form-control bootstrap-datepicker">
                <span class="input-group-addon">
                  <span class="fa fa-calendar"></span>
                </span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group time-picker-pf" id="time-picker">
                <input required ng-model="localSystem.summary.newTime" type="text" class="form-control">
                <span class="input-group-addon btn btn-default">
                  <span class="fa fa-clock-o"></span>
                </span>
              </div>
            </div>
          </div>

          <div ng-show="localSystem.summary.newTimeMode == 'ntp'" class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">NTP server</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="localSystem.summary.ntpServer" class="form-control">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal" ng-click="resetDateTime()">{{'Cancel' | translate}}</button>
          <button class="btn btn-primary" type="submit">{{'Save' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
