<div ng-if="localSystem.services.list.length == 0" class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <span class="pficon pficon-regions"></span>
  </div>
  <h1>
    {{'No services found' | translate}}
  </h1>
</div>

<div ng-if="localSystem.services.list.length > 0">
  <h3>{{'Services list' | translate}}</h3>
  <form role="form" class="search-pf has-button search">
    <div class="form-group has-clear">
      <div class="search-pf-input-group">
        <input ng-model="objects.searchString" type="text" class="form-control input-lg" placeholder="{{'Search' | translate}}...">
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-default btn-lg" type="submit"><span class="fa fa-search"></span></button>
    </div>
  </form>
  <div class="list-group list-view-pf">
    <div ng-repeat="s in localSystem.services.list | filter:objects.searchString" class="list-group-item">
      <div class="list-view-pf-checkbox">
        <input type="checkbox">
      </div>
      <div class="list-view-pf-actions">
        <button ng-click="editDNSServer(d)" class="btn btn-default button-minimum">{{s.running ? 'Restart' : 'Start' | translate}}</button>
        <div class="dropdown pull-right dropdown-kebab-pf">
          <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="fa fa-ellipsis-v"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a ng-click="openDeleteDNSModal(d)" href="">{{s.status == 'enabled' ? 'Disable' : 'Enable' | translate}}</a></li>
            <li ng-if="s.running" role="separator" class="divider"></li>
            <li ng-if="s.running"><a href="#">{{'Stop' | translate}}</a></li>
          </ul>
        </div>
      </div>
      <div class="list-view-pf-main-info">
        <div class="list-view-pf-left">
          <span class="fa fa-fighter-jet list-view-pf-icon-sm"></span>
        </div>
        <div class="list-view-pf-body">
          <div class="list-view-pf-description">
            <div class="list-group-item-heading">
              {{s.name}}
            </div>
            <div class="list-group-item-text">
              <span>{{s.description}}</span>
            </div>
          </div>
          <div class="list-view-pf-additional-info">
            <div class="list-view-pf-additional-info-item {{s.status == 'enabled' ? 'green' : 'red'}}">
              <span class="fa fa-{{s.status == 'enabled' ? 'check' : 'times'}}"></span>
              <strong>{{s.status | capitalize}}</strong>
            </div>
            <div class="list-view-pf-additional-info-item {{s.running ? 'green' : 'red'}}">
              <span class="fa fa-{{s.running ? 'bolt' : 'power-off'}}"></span>
              <strong>{{s.running ? 'Running' : 'Stopped' | translate}}</strong>
            </div>
            <div class="list-view-pf-additional-info-item">
              <div ng-click="toggleDetails($event)" class="list-view-pf-expand">
                {{'Details' | translate}}
                <span class="fa fa-angle-right"></span>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="list-group-item-container container-fluid hidden">
        <div class="row">
          <div class="col-md-9">
            <h4>Properties</h4>
            <dl class="dl-horizontal">
              <dt>NTPServer</dt>
              <dd>pool.ntp.org</dd>
              <dt>UDPPorts</dt>
              <dd>123 56 89</dd>
              <dt>access</dt>
              <dd>green</dd>
              <dt>status</dt>
              <dd>enabled</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-lg-8">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Service</th>
          <th>Status</th>
          <th>Running</th>
          <th>Ports</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="s in localSystem.services.list">
          <td>{{s.name}}</td>
          <td class="col-sm-2 {{s.status === 'disabled' ? 'red fa-power-off' : 'green fa-bolt'}}">
            {{s.status | uppercase}}
          </td>
          <td class="col-sm-2 {{s.running ? 'green fa-check' : 'red fa-times'}}">
            {{s.running ? 'Running' : 'Stopped' | uppercase}}
          </td>
          <td class="col-sm-3">
            <span ng-repeat="(p,v) in s.ports">
              {{p | uppercase}}: {{v.join(',')}}
            </span>
          </td>
          <td class="col-sm-3">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" ng-if="s.status === 'disabled'" ng-click="enable(s.name)">
                Enable
              </button>
              <button type="button" class="btn btn-danger" ng-if="s.status === 'enabled'" ng-click="disable(s.name)">
                Disable
              </button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-primary" ng-if="!s.running" ng-click="start(s.name)">
                Start
              </button>
              <button type="button" class="btn btn-default" ng-if="s.running" ng-click="restart(s.name)">
                Restart
              </button>
              <button type="button" class="btn btn-danger" ng-if="s.running" ng-click="stop(s.name)">
                Stop
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
