<h3>Services</h3>

<div class="row">
  <div class="col-lg-8">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Service</th>
          <th>Status</th>
          <th>Running</th>
          <th>Ports</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="s in allServices">
          <td>{{s.name}}</td>
          <td class="col-sm-2 {{s.status === 'disabled' ? 'red fa-power-off' : 'green fa-bolt'}}">
            {{s.status | uppercase}}
          </td>
          <td class="col-sm-2 {{s.running ? 'green fa-check' : 'red fa-times'}}">
            {{s.running ? 'Running' : 'Stopped' | uppercase}}
          </td>
          <td class="col-sm-3">
            <span ng-repeat="(p,v) in s.ports">
              {{p | uppercase}}: {{v.join(',')}}
            </span>
          </td>
          <td class="col-sm-3">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" ng-if="s.status === 'disabled'" ng-click="enable(s.name)">
                Enable
              </button>
              <button type="button" class="btn btn-danger" ng-if="s.status === 'enabled'" ng-click="disable(s.name)">
                Disable
              </button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-primary" ng-if="!s.running" ng-click="start(s.name)">
                Start
              </button>
              <button type="button" class="btn btn-default" ng-if="s.running" ng-click="restart(s.name)">
                Restart
              </button>
              <button type="button" class="btn btn-danger" ng-if="s.running" ng-click="stop(s.name)">
                Stop
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>