html,
#app {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden
}

a {
  cursor: pointer;
}

.container-cards-pf {
  margin-left: 55px;
  margin-top: 0px;
}

#navbar-left:hover+.container-fluid.container-cards-pf {
  margin-left: 180px;
}

#navbar-left:hover {
  width: 180px;
  -webkit-transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}

#navbar-left:hover ul li a .list-group-item-value {
  display: block !important;
}

#navbar-left {
  width: 55px;
  -webkit-transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}

.list-group-item-value {
  display: none !important;
}

.nav-pf-vertical {
  top: 0px;
  background: #393f43;
}

.nav-pf-vertical .list-group-item.active>a,
.nav-pf-vertical .list-group-item:hover>a {
  font-weight: inherit;
  background: #4d5257;
}

.nav-pf-vertical .list-group-item.active>a {
  padding-left: 18px !important;
}

.nav-pf-vertical .list-group-item:not(#dashboard-item) .list-group-item-value {
  line-height: 20px !important;
}

.nav-pf-vertical .list-group-item:not(#dashboard-item) {
  border-color: #4d5257;
}

.nav-pf-vertical .list-group-item:not(#dashboard-item)>a .fa,
.nav-pf-vertical .list-group-item:not(#dashboard-item)>a .glyphicon,
.nav-pf-vertical .list-group-item:not(#dashboard-item)>a .pficon {
  font-size: 18px;
  line-height: 20px !important;
}

.nav-pf-vertical .list-group-item:not(#dashboard-item)>a {
  cursor: pointer;
  display: block;
  font-size: 12px;
  height: 40px;
  line-height: 20px !important;
  padding: 10px 15px;
  position: relative;
  white-space: nowrap;
  width: 180px;
}

.li-empty {
  height: 10px;
}

.adjust-panel-body {
  color: #fff;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 14px;
  border-top: 1px solid #4d5257 !important;
}

#dashboard-item {
  border-top: 0px !important;
  border-color: #4d5257;
}

#dashboard-item>a {
  padding-left: 15px;
}

#dashboard-item>a>.list-group-item-value {
  line-height: 30px;
}

#navbar-left>.panel {
  background: #393f43;
}

#navbar-left>.panel-group {
  margin-bottom: 0px !important;
}

.menu-item-left {
  cursor: pointer;
  padding-left: 25px !important;
  padding-top: 10px !important;
  color: #d1d1d1;
  padding-bottom: 10px !important;
  height: inherit !important;
}

.list-group-item>a {
  text-decoration: none !important;
}

.list-group-item:first-child {
  border-top: 2px solid #4d5257 !important;
}

.list-group-item:last-child {
  border-bottom: 1px solid #4d5257 !important;
}

#firewall-collapse>.list-group-item:last-child {
  border-bottom: 2px solid #4d5257 !important;
}

.list-group-item:hover>a,
.menu-item-left:hover {
  background-color: #4d5258 !important;
}

.subs-item {
  padding-left: 35px !important;
}

.blank-slate-pf {
  border: 0px;
}

.details-arrow {
  font-size: 20px !important;
}

.global-search {
  padding-left: 0px !important;
}

.global-search-icon {
  display: none;
}

.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>th {
  font-family: inherit !important;
}

.table>thead input {
  background-image: none !important;
  border-radius: 1px !important;
  width: calc(50%) !important;
}

.table>thead {
  background-image: none !important;
}

.table>thead tr th:first-child {
  padding-left: 25px !important;
}

.table>tbody tr td:first-child {
  padding-left: 25px;
}

.table-condensed>tbody tr td:first-child {
  padding-left: initial;
}

.table-striped>tbody>tr:nth-of-type(even),
.table>thead {
  background-color: #fff;
}

.table>thead th {
  color: #464646 !important;
  border: none !important;
  background: #fff !important;
  border-bottom: 2px solid #0088ce !important;
  font-size: 14px !important;
}

.table>thead th.sorting:hover {
  cursor: pointer;
}

.table>tbody tr {
  background-color: white;
  height: 47px;
}

.table-condensed>tbody tr {
  height: 30px;
}

.table-condensed>tr td {
  height: 30px;
}

.table>tbody tr:hover {
  background-color: #def3ff;
}

.table>tbody tr td {
  line-height: 31px !important;
  white-space: nowrap;
}

.table>tbody tr td .modal {
  line-height: initial;
}

.table-footer {
  padding-left: 20px;
  padding-top: 5px;
  padding: 0px;
}

.table-footer select {
  font-size: 12px !important;
}

.table-footer .pull-left {
  font-size: 12px;
  line-height: 26px;
}

.table-footer .pull-left label {
  margin-bottom: 0px;
}

.table input:focus {
  border-color: #0088ce !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 136, 206, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 136, 206, 0.6) !important;
}

.table td[data-v-d89f00e8],
.table th[data-v-d89f00e8]:not(.line-numbers) {
  text-align: left;
}

iframe>.breadcrumb {
  display: none;
}

.iframe-embedded {
  position: absolute;
  width: 97%;
  height: 95%;
  border: none;
  margin-left: -20px;
  z-index: 1;
}

.adjust-li {
  padding-top: 2px;
}

.compact {
  margin-bottom: 0px;
}

.right {
  float: right;
}

.row-dashboard {
  margin-bottom: 25px;
}

.panel-icon {
  margin-right: 10px;
}

.graph {
  height: 120px;
}

.adjust-top {
  margin-top: 15px;
}

.adjust-top-col {
  margin-top: 0px;
}

@media screen and (max-width: 1196px) {
  .adjust-top {
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  .adjust-top-col {
    margin-top: 15px;
  }
}

.fake-modal-backdrop {
  position: fixed;
  background-color: #000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .5;
  z-index: 0;
}

circle {
  fill: none;
  pointer-events: all;
}

#baseContainer {
  z-index: 1;
}

#baseBread {
  float: left;
  background: rgb(103, 102, 102);
  width: 90px;
  text-align: center;
  color: white;
  text-decoration: none;
  z-index: 1;
}

#sequence {
  height: 20px;
  position: fixed;
  left: 112px;
}

#sequence text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  top: 120px;
  bottom: 25px;
  position: fixed;
  z-index: -1;
}

#chart path {
  stroke: #fff;
}

#explanation {
  color: #666;
  z-index: 10;
  top: 220px;
  position: fixed;
}

#totalSize {
  font-size: 2.5em;
  color: #666;
}

#nameFolder {
  font-size: 20px;
  margin-bottom: -5px;
}

#sizeFolder {
  font-size: 20px;
}

.adjust-top-content {
  margin-top: 20px;
}

.action-icon-menu {
  display: inline-block !important;
  width: 10px !important;
  text-align: center !important;
  margin-right: 10px !important;
}

.button-minimum {
  min-width: 74px;
}

.span-right-margin {
  margin-right: 4px;
}

.no-padding-top {
  padding-top: 0px;
}

.no-margin-top {
  margin-top: 0px;
}

.divider {
  border-top: 1px solid #d1d1d1;
}

.red {
  color: #cc0000;
}

.green {
  color: #3f9c35;
}

.yellow {
  color: #f0ab00;
}

.gray {
  color: #72767b;
}

input[type="checkbox"].form-control {
  box-shadow: none;
}

.details-container {
  margin-bottom: 0px;
}

#providerDetails {
  padding: 10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.provider-details {
  color: #0088ce;
  text-decoration: none;
}

#change-provider-btn {
  float: right;
}

#provider-markup {
  border: none;
  box-shadow: none;
}

.provider-details:hover {
  text-decoration: underline;
  cursor: pointer;
}

.wizard-pf-main {
  padding: 2em;
}

.wizard-pf-contents-title {
  margin-top: 0px;
}

.wizard-pf-sidebar>ul>.list-group-item {
  border-bottom: 1px solid #d1d1d1 !important;
  border-top: none !important;
}

.wizard-pf-sidebar>ul>.list-group-item:hover>a {
  background-color: #ededed !important;
}

.wizard-pf-contents>.blank-slate-pf {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.wizard-pf-contents>.blank-slate-pf>.blank-slate-pf-main-action>.card-pf {
  margin: 0;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #d1d1d1;
  box-shadow: none;
}

.wizard-pf-contents>.blank-slate-pf>.blank-slate-pf-main-action>.card-pf:hover {
  border: 2px solid #d1d1d1;
  margin-top: -1px;
}

.modal-footer.wizard-pf-footer {
  min-height: 58px;
}

.active-choose {
  border: 2px solid #3aa4dc !important;
  margin-top: -1px !important;
}

.active-choose:hover {
  margin-top: 0px;
}

.full-width {
  width: 100%;
}

.no-padding {
  padding: 0px;
}

.margin-top-md {
  margin-top: 60px !important;
}

.white-background {
  background: #fff;
}

.icon-wizard {
  width: 100px;
}

.review-li-wizard {
  margin-bottom: 5px;
}

.row-cards-pf {
  padding: 0px !important;
}

.app-header-logo {
  height: 25px;
  margin-top: -5px;
  margin-right: -8px;
  float: right;
}

.row-app {
  margin-top: 25px;
}
