html,
#app {
    height: 100%;
}

body {
    height: 100%;
    overflow-x: hidden
}

a {
    cursor: pointer;
    word-break: break-all;
}

textarea {
    resize: vertical;
    min-height: 125px;
}

.handle-overflow {
    overflow: auto;
}

.no-cursor {
    cursor: initial !important;
}

.container-cards-pf {
    margin-left: 55px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.container-cards-pf-apps {
    margin-left: 0px;
    margin-top: 0px;
}

#navbar-left:hover+.container-fluid.container-cards-pf {
    margin-left: 180px;
    z-index: 4;
}

#navbar-left:hover {
    width: 180px;
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
    z-index: 4;
}

#navbar-left:hover ul li a .list-group-item-value {
    display: block !important;
    z-index: 4;
}

#navbar-left {
    width: 55px;
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
}

.list-group-item-value {
    display: none !important;
}

.nav-pf-vertical {
    top: 0px;
    background: #393f43;
}

.nav-pf-vertical .list-group-item.active>a,
.nav-pf-vertical .list-group-item:hover>a {
    font-weight: inherit;
    background: #4d5257;
}

.nav-pf-vertical .list-group-item.active>a {
    padding-left: 18px !important;
}

.nav-pf-vertical .list-group-item:not(#dashboard-item) .list-group-item-value {
    line-height: 20px !important;
}

.nav-pf-vertical .list-group-item:not(#dashboard-item) {
    border-color: #4d5257;
}

.nav-pf-vertical .list-group-item:not(#dashboard-item)>a .fa,
.nav-pf-vertical .list-group-item:not(#dashboard-item)>a .glyphicon,
.nav-pf-vertical .list-group-item:not(#dashboard-item)>a .pficon {
    font-size: 18px;
    line-height: 20px !important;
}

.nav-pf-vertical .list-group-item:not(#dashboard-item)>a {
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 40px;
    line-height: 20px !important;
    padding: 10px 15px;
    position: relative;
    white-space: nowrap;
    width: 55px;
}

.nav-pf-vertical:hover .list-group-item:not(#dashboard-item)>a {
    width: 180px;
}

.li-empty {
    height: 10px;
}

.adjust-panel-body {
    color: #fff;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 14px;
    border-top: 1px solid #4d5257 !important;
}

#dashboard-item {
    border-top: 0px !important;
    border-color: #4d5257;
}

#dashboard-item>a {
    padding-left: 15px;
}

#dashboard-item>a>.list-group-item-value {
    line-height: 30px;
}

#navbar-left>.panel {
    background: #393f43;
}

#navbar-left>.panel-group {
    margin-bottom: 0px !important;
}

.menu-item-left {
    cursor: pointer;
    padding-left: 25px !important;
    padding-top: 10px !important;
    color: #d1d1d1;
    padding-bottom: 10px !important;
    height: inherit !important;
}

.nav-pf-vertical .list-group-item>a {
    text-decoration: none !important;
    width: 55px;
}

.nav-pf-vertical:hover .list-group-item>a {
    width: 200px;
}

.nav-pf-vertical .list-group-item:first-child {
    border-top: 2px solid #4d5257 !important;
}

.nav-pf-vertical .list-group-item:last-child {
    border-bottom: 1px solid #4d5257 !important;
}

#firewall-collapse>.list-group-item:last-child {
    border-bottom: 2px solid #4d5257 !important;
}

.nav-pf-vertical .list-group-item:hover>a,
.menu-item-left:hover {
    background-color: #4d5258 !important;
}

.subs-item {
    padding-left: 35px !important;
}

.blank-slate-pf {
    border: 0px;
}

.details-arrow {
    font-size: 20px !important;
}

.details-ip {
    font-size: 14px !important;
}

.small-font {
    font-size: 12px !important;
}

iframe>.breadcrumb {
    display: none;
}

.iframe-embedded {
    position: absolute;
    width: 97%;
    height: 95%;
    border: none;
    margin-left: -20px;
    z-index: 1;
}

.adjust-li {
    padding-top: 2px;
    min-height: 32px;
}

.compact {
    margin-bottom: 0px !important;
}

.right {
    float: right;
}

.margin-bottom-mid {
    margin-bottom: 15px !important;
}

.row-dashboard {
    margin-bottom: 25px;
}

.panel-icon {
    margin-right: 10px;
}

.starred-marging {
    margin-right: 5px;
}

.icon-net-margin {
    margin-right: 9px;
}

.graph {
    height: 120px;
}

.adjust-top-min {
    margin-top: 0px;
}

.adjust-top {
    margin-top: 15px;
}

.adjust-top-col {
    margin-top: 0px !important;
}

@media screen and (max-width: 768px) {
    .adjust-top-col {
        margin-top: 15px !important;
    }

    .adjust-top-min {
        margin-top: 8px;
    }
}

.fake-modal-backdrop {
    position: fixed;
    background-color: #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    z-index: 0;
}

.fake-modal-backdrop-event {
    position: fixed;
    background-color: #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    z-index: 3;
}

circle {
    fill: none;
    pointer-events: all;
}

#baseContainer {
    z-index: 1;
}

#baseBread {
    float: left;
    font-size: 15px;
    background: rgb(103, 102, 102);
    text-align: center;
    color: white;
    text-decoration: none;
    z-index: 1;
    padding-left: 5px;
    padding-right: 5px;
}

#sequence {
    height: 20px;
    position: fixed;
    left: 165px;
}

#sequence text {
    font-weight: 600;
    fill: #fff;
}

#chart {
    top: 120px;
    bottom: 25px;
    position: fixed;
    z-index: 0;
}

#chart path {
    stroke: #fff;
}

#explanation {
    color: #666;
    z-index: 10;
    top: 220px;
    position: fixed;
    z-index: 1;
}

#totalSize {
    font-size: 2.5em;
    color: #666;
}

#nameFolder {
    font-size: 20px;
    margin-bottom: -5px;
}

#sizeFolder {
    font-size: 20px;
}

.adjust-top-content {
    margin-top: 20px;
}

.action-icon-menu {
    display: inline-block !important;
    width: 10px !important;
    text-align: center !important;
    margin-right: 10px !important;
}

.button-minimum {
    min-width: 74px;
}

.span-right-margin {
    margin-right: 4px;
}

.no-padding-top {
    padding-top: 0px;
}

.no-margin-top {
    margin-top: 0px;
}

.divider {
    border-top: 1px solid #d1d1d1;
}

.red {
    color: #cc0000;
}

.red-list {
    border-left: 3px solid #cc0000 !important;
}

.green {
    color: #3f9c35;
}

.green-list {
    border-left: 3px solid #3f9c35 !important;
}

.yellow {
    color: #f0ab00;
}

.gray {
    color: #72767b;
}

.free {
    color: #72767b;
}

.missing {
    color: #703fec;
}

.gray-list {
    border-left: 3px solid #72767b !important;
}

.orange {
    color: #ec7a08;
}

.orange-list {
    border-left: 3px solid #ec7a08 !important;
}

.transparent {
    opacity: 0;
}


.blue {
    color: #0088ce;
}

.blue-list {
    border-left: 3px solid #0088ce !important;
}

.other-list {
    border-left: 3px solid black !important;
}

.free-list {
    border-left: 3px solid #72767b !important;
}

.missing-list {
    border-left: 3px solid #703fec !important;
}

.border-green {
    border: 2px solid #3f9c35 !important;
}

.border-red {
    border: 2px solid #cc0000 !important;
}

.border-gray {
    border: 2px solid #72767b !important;
}

.border-free {
    border: 2px solid #72767b !important;
}

.border-missing {
    border: 2px solid #703fec !important;
}

.border-empty {
    border: 2px solid black !important;
}

.border-blue {
    border: 2px solid #0088ce !important;
}

.border-orange {
    border: 2px solid #ec7a08 !important;
}

.details-container {
    margin-bottom: 0px;
}

#change-provider-btn {
    float: right;
}

.wizard-pf-main {
    padding: 2em;
}

.wizard-pf-contents-title {
    margin-top: 0px;
}

.wizard-pf-sidebar>ul>.list-group-item {
    border-bottom: 1px solid #d1d1d1 !important;
    border-top: none !important;
}

.wizard-pf-sidebar>ul>.list-group-item:hover>a {
    background-color: #ededed !important;
}

.wizard-pf-contents>.blank-slate-pf {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.wizard-pf-contents>.blank-slate-pf>.blank-slate-pf-main-action>.card-pf {
    margin: 0;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #d1d1d1;
    box-shadow: none;
}

.wizard-pf-contents>.blank-slate-pf>.blank-slate-pf-main-action>.card-pf:hover {
    border: 2px solid #d1d1d1;
    margin-top: -1px;
}

.modal-footer.wizard-pf-footer {
    min-height: 58px;
}

.active-choose {
    border: 2px solid #3aa4dc !important;
    margin-top: -1px !important;
}

.active-choose:hover {
    margin-top: 0px;
}

.active-choose-green {
    border: 2px solid #3f9c35 !important;
    margin-top: -1px !important;
}

.active-choose-green:hover {
    margin-top: 0px;
}

.active-choose-red {
    border: 2px solid #cc0000 !important;
    margin-top: -1px !important;
}

.active-choose-red:hover {
    margin-top: 0px;
}

.active-choose-blue {
    border: 2px solid #0088ce !important;
    margin-top: -1px !important;
}

.active-choose-blue:hover {
    margin-top: 0px;
}

.active-choose-orange {
    border: 2px solid #ec7a08 !important;
    margin-top: -1px !important;
}

.active-choose-orange:hover {
    margin-top: 0px;
}

.active-choose-other {
    border: 2px solid black !important;
    margin-top: -1px !important;
}

.active-choose-other:hover {
    margin-top: 0px;
}

.full-width {
    width: 100%;
}

.no-padding {
    padding: 0px;
}

.margin-top-md {
    margin-top: 60px !important;
}

.margin-top-sm {
    margin-top: 20px !important;
}

.white-background {
    background: #fff;
}

.icon-wizard {
    width: 100px;
}

.review-li-wizard {
    margin-bottom: 5px;
}

.row-cards-pf {
    padding: 0px !important;
}

.app-header-logo {
    height: 25px;
    margin-top: -5px;
    margin-right: -8px;
    float: right;
}

.row-app {
    margin-top: 25px;
}

.list-spinner-loader {
    display: inline-block;
    top: 2px;
}

@media (max-width: 992px) {
    .toast-pf-top-right {
        left: 65px;
    }
}

.form-group.compact>label {
    margin-bottom: 0px !important;
}

.prettyprint {
    max-height: 450px;
}

.network-role-choose {
    max-height: 132px;
}

.divider-advanced {
    width: 80%;
    float: right;
    margin-top: 8px;
}

.advanced {
    margin-bottom: 10px;
}

.adjust-spinner-top {
    margin-top: -21px !important;
}

.pre-inline {
    display: inline-grid !important;
    padding: 2px 6px;
    min-width: 305px;
}

.adjust-top-loader {
    margin-top: -4px;
}

.stats-container {
    display: table-cell !important;
    width: initial !important;
    padding: 20px !important;
    border: none !important;
}

.stats-text {
    margin-top: 10px !important;
}

.copy-path {
    margin-left: 5px !important;
    margin-top: 0px !important;
}

@media screen and (min-width: 992px) {
    .copy-path {
        margin-left: 0px !important;
        margin-top: 5px !important;
        display: block;
    }
}

.copy-ok {
    top: 2px;
    position: relative;
    right: -8px;
}

.apps-icon {
    height: 30px;
    width: 30px;
}

.apps-refresh {
    position: absolute;
    top: 58px;
    right: 18px;
    z-index: 1;
}

.apps-version {
    float: right;
    margin-top: -34px;
}

.margin-left-md {
    margin-left: 10px;
}

.span-right-margin-lg {
    margin-right: 20px;
}

.Password__field {
    width: 100% !important;
    height: 26px !important;
    padding: 2px 6px !important;
    background-color: #fff !important;
    border: 1px solid #bbb !important;
    border-radius: 1px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    font-size: 12px !important;
    box-sizing: border-box !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

.Password__field:focus {
    border-color: #0088ce;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 136, 206, .6);
}

.Password__icons {
    display: none !important;
}

.list-view-pf .list-group-item {
    border-top: 1px solid #ededec;
}

.list-group.list-view-pf {
    border-top: 0px;
}

.password-meter-uncheck {
    background: #ededed;
    margin: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

.password-meter-check {
    background: #3f9c35;
    color: white;
    margin: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

.password-meter-length-uncheck {
    position: absolute;
    top: 4px;
    right: 25px;
    background: #ededed;
    height: 18px;
    width: 18px;
    text-align: center;
}

.password-meter-length-check {
    position: absolute;
    top: 4px;
    right: 25px;
    background: #3f9c35;
    color: white;
    height: 18px;
    width: 18px;
    text-align: center;
}

.password-hints {
    text-align: center
}

.display-inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.dhcp-int {
    display: inline;
    margin-right: 10px;
}

.dhcp-mod-btn {
    margin-left: 8px;
    margin-top: -4px;
}

.sub-title-menu {
    font-size: 19px;
    font-weight: 300;
}

.adjust-label-wizard {
    margin-top: 0px
}

.cron-human-text {
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .adjust-label-wizard {
        margin-top: 15px;
    }

    .divider-advanced {
        display: none !important;
    }
}

.wizard-where-choices {
    padding-left: 20px;
    padding-right: 20px;
}

.small-size-wizard {
    font-size: 20px !important;
    line-height: 20px !important;
}

.blank-state-backup {
    background-color: white !important;
}

.command-output {
    background: black;
    color: #cecece;
    font-family: monospace;
    min-height: 175px;
    resize: vertical;
}

.command-logs {
    min-height: 375px;
}

.nav-pf-vertical .list-group-item .badge {
    padding: 2px 3px;
    right: 10px;
    top: 35px;
}

.nav-pf-vertical .list-group-item .badge.badge-small {
    padding: 2px 3px;
    right: 10px;
    top: 20px;
}

.nav-pf-vertical:hover .list-group-item .badge {
    padding: 5px;
    right: 30px;
    top: 21px;
}

.nav-pf-vertical:hover .list-group-item .badge.badge-small {
    padding: 5px;
    right: 10px;
    top: 8px;
}

.nav-pf-vertical .list-group-item .badge {
    background: #f0ab00;
    border: 1px solid #d1d1d1;
    position: absolute;
    border-radius: 0;
}

.no-shadow {
    box-shadow: none !important;
}

@media (min-width: 768px) {
    .dl-horizontal.int-details dt {
        width: 100px !important;
    }

    .dl-horizontal.int-details dd {
        margin-left: 105px !important;
    }
}

.dl-horizontal dd {
    word-break: break-all !important;
}

.remove-item-inline {
    color: white;
    margin-left: 4px;
}

.disabled {
    color: #8b8d8f;
    cursor: not-allowed;
    text-decoration: none;
}

.list-group-item-header {
    cursor: initial !important;
}

.pointer:hover {
    cursor: pointer;
}

.not-local-user {
    color: rgb(54, 54, 54) !important;
    text-decoration: none !important;
}

.not-local-user:hover {
    color: rgb(54, 54, 54) !important;
    text-decoration: none !important;
    cursor: initial !important;
}

.optional-label {
    color: gray;
    margin-left: 5px;
}

.panel.panel-default {
    box-shadow: none !important;
}
