<div ng-show="!view.isLoaded" class="spinner spinner-lg view-spinner"></div>

<div ng-show="localSystem.certificates.length == 0 && view.isLoaded" class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <span class="fa fa-key"></span>
  </div>
  <h1>
    {{'No certificates found' | translate}}
  </h1>
  <div class="blank-slate-pf-main-action">
    <button ng-click="openUploadCertificate()" class="btn btn-primary btn-lg">{{'Upload certificate' | translate}}</button>
  </div>
</div>

<div ng-show="localSystem.certificates.length > 0 && view.isLoaded">
  <h3>{{'Actions' | translate}}</h3>
  <div class="btn-group">
    <button ng-click="openUploadCertificate()" class="btn btn-primary btn-lg shutdown-privileged" data-action="restart" data-container="body">{{'Upload certificate' | translate}}</button>
    <button data-toggle="dropdown" class="btn btn-primary btn-lg dropdown-toggle shutdown-privileged">
      <span class="caret"></span>
    </button>
    <ul role="menu" class="dropdown-menu">
      <li class="presentation">
        <a href="" ng-click="openUploadCertificate()" role="menuitem" data-action="restart">{{'Upload certificate' | translate}}</a>
      </li>
      <li class="presentation">
        <a href="" ng-click="openEditCertificate()" role="menuitem" data-action="shutdown">{{'Edit self-signed certificate' | translate}}</a>
      </li>
      <li class="presentation">
        <a href="" ng-click="openRequestLetsEncrypt()" role="menuitem" data-action="restart">{{'Request Let\'s Encrypt certificate' | translate}}</a>
      </li>
    </ul>
  </div>
</div>

<div ng-show="localSystem.certificates.length > 0 && view.isLoaded">
  <h3>{{'Certificates list' | translate}}</h3>
  <form role="form" class="search-pf has-button search">
    <div class="form-group has-clear">
      <div class="search-pf-input-group">
        <input ng-model="objects.searchString" type="text" class="form-control input-lg" placeholder="{{'Search' | translate}}...">
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-default btn-lg" type="submit">
        <span class="fa fa-search"></span>
      </button>
    </div>
  </form>
  <div class="list-group list-view-pf">
    <div ng-repeat="c in localSystem.certificates | filter:objects.searchString" class="list-group-item">
      <div class="list-view-pf-actions">
        <button ng-click="showCertificate(c.key)" class="btn btn-default">
          <span class="fa fa-search span-right-margin"></span>
          {{'Show' | translate}}
        </button>
        <div class="dropdown pull-right dropdown-kebab-pf">
          <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="fa fa-ellipsis-v"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a ng-click="setDefault(c.key)" href="">
                <span class="fa fa-check span-right-margin"></span>
                {{'Set as Default' | translate}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="list-view-pf-main-info">
        <div class="list-view-pf-left">
          <span class="fa fa-key list-view-pf-icon-sm"></span>
        </div>
        <div class="list-view-pf-body">
          <div class="list-view-pf-description">
            <div ng-click="showCertificate(c.key)" class="list-group-item-heading">
              <a href="">{{c.key}}</a>
            </div>
            <div class="list-group-item-text">
              {{c.issuer}}
            </div>
          </div>
          <div class="list-view-pf-additional-info">
            <div class="list-view-pf-additional-info-item">
              <span class="fa fa-clock-o {{c.expired ? 'red' : ''}}"></span>
              <strong>{{c.expired ? 'Expired' : 'Expires' | translate}}:</strong>
              <span class="{{c.expired ? 'red' : ''}} margin-top-small">{{c.expiration_t * 1000 | date:'yyyy-MM-dd hh:mm'}}</span>
            </div>
            <div class="list-view-pf-additional-info-item">
              <strong>{{'Default' | translate}}:</strong>
              <span class="fa fa-{{c.default ? 'check' : 'times'}}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="uploadCertificateModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'Upload certificate' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="uploadCertificate(objects.newCertificate)">

        <div class="modal-body">
          <div ng-show="objects.newCertificate.errorMessage" class="alert alert-danger alert-dismissable">
            <span class="pficon pficon-error-circle-o"></span>
            <strong>{{'Error' | translate}}.</strong> {{objects.newCertificate.errorMessage | translate}}
          </div>

          <div class="form-group {{objects.newCertificate.errorProps['key'] ? 'has-error' : ''}}">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Name' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.newCertificate.key" class="form-control">
              <span ng-if="objects.newCertificate.errorProps['key']" class="help-block">{{objects.newCertificate.errorProps['key'] | translate}}</span>
            </div>
          </div>
          <div class="form-group {{objects.newCertificate.errorProps['certificate'] ? 'has-error' : ''}}">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Certificate' | translate}}</label>
            <div class="col-sm-9">
              <label for="file-upload-cert" class="custom-file-upload">
                <i class="fa fa-cloud-upload span-right-margin"></i> {{'Choose file' | translate}} {{objects.newCertificate.certificate}}
              </label>
              <input class="inputfile" required id="certificate-file" name="file-upload-cert" type="file" ng-model="objects.newCertificate.certificate"
              />
              <span ng-if="objects.newCertificate.errorProps['certificate']" class="help-block">{{objects.newCertificate.errorProps['certificate'] | translate}}</span>
            </div>
          </div>
          <div class="form-group {{objects.newCertificate.errorProps['privateKey'] ? 'has-error' : ''}}">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Private key' | translate}}</label>
            <div class="col-sm-9">
              <label for="file-upload-key" class="custom-file-upload">
                <i class="fa fa-cloud-upload span-right-margin"></i> {{'Choose file' | translate}}
              </label>
              <input class="inputfile" required id="privateKey-file" name="file-upload-key" type="file" ng-model="objects.newCertificate.privateKey"
              />
              <span ng-if="objects.newCertificate.errorProps['privateKey']" class="help-block">{{objects.newCertificate.errorProps['privateKey'] | translate}}</span>
            </div>
          </div>
          <div class="form-group {{objects.newCertificate.errorProps['chain'] ? 'has-error' : ''}}">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Chain file' | translate}}</label>
            <div class="col-sm-9">
              <label for="file-upload-chain" class="custom-file-upload">
                <i class="fa fa-cloud-upload span-right-margin"></i> {{'Choose file' | translate}}
              </label>
              <input class="inputfile" id="chain-file" name="file-upload-chain" type="file" ng-model="objects.newCertificate.chain" />
              <span ng-if="objects.newCertificate.errorProps['chain']" class="help-block">{{objects.newCertificate.errorProps['chain'] | translate}}</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button class="btn btn-primary" type="submit">{{'Upload' | translate}}</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal" id="editCertificateModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'Edit certificate' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="editCertificate(objects.selfSignedCertificate)">

        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Country Code' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.selfSignedCertificate.CountryCode" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'State' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.selfSignedCertificate.State" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Locality' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.selfSignedCertificate.Locality" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Organization' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.selfSignedCertificate.Organization" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Organization unit' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.selfSignedCertificate.OrganizationalUnitName" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Common name' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.selfSignedCertificate.CommonName" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Email address' | translate}}</label>
            <div class="col-sm-9">
              <input type="text" ng-model="objects.selfSignedCertificate.EmailAddress" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Alternative names' | translate}}</label>
            <div class="col-sm-9">
              <textarea type="text" ng-model="objects.selfSignedCertificate.SubjectAltNames" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Certificate validity (days)' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.selfSignedCertificate.CertificateDuration" class="form-control">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button class="btn btn-primary" type="submit">{{'Save' | translate}}</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal" id="requestLetsEncryptModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'Request Let\'s Encrypt certificate' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="requestLetsEncrypt(objects.letsEncryptCertificate)">

        <div class="modal-body">
          <div ng-show="objects.newCertificate.errorMessage" class="alert alert-danger alert-dismissable">
            <span class="pficon pficon-error-circle-o"></span>
            <strong>{{'Error' | translate}}.</strong> {{objects.newCertificate.errorMessage | translate}}
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Notification email' | translate}}</label>
            <div class="col-sm-9">
              <input required type="email" ng-model="objects.letsEncryptCertificate.LetsEncryptMail" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Domains' | translate}}</label>
            <div class="col-sm-9">
              <textarea required ng-model="objects.letsEncryptCertificate.LetsEncryptDomains" class="form-control"></textarea>
            </div>
          </div>
          <div ng-if="objects.newCertificate.testLetsEncrypt" class="form-group">
            <div class="col-sm-12">
              <div class="spinner"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button class="btn btn-primary" type="submit">{{'Request' | translate}}</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal" id="showCertificateModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'View certificate' | translate}}</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Certificate' | translate}}</label>
          <div class="col-sm-9">
            <pre class="prettyprint">{{objects.showedCertificate}}</pre>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
      </div>

    </div>
  </div>
</div>
