<div ng-show="!view.isLoaded" class="spinner spinner-lg view-spinner"></div>

<div ng-show="localSystem.dns.hosts.length == 0 && view.isLoaded" class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <span class="pficon pficon-regions"></span>
  </div>
  <h1>
    {{'No DNS record found' | translate}}
  </h1>
  <div class="blank-slate-pf-main-action">
    <button ng-click="newDNS()" class="btn btn-primary btn-lg">{{'Add DNS record' | translate}}</button>
  </div>
</div>

<div ng-show="localSystem.dns.hosts.length > 0 && view.isLoaded">
  <h3>{{'Actions' | translate}}</h3>
  <button ng-click="newDNS()" class="btn btn-primary btn-lg " type="button">{{'Add DNS record' | translate}}</button>
</div>

<div ng-show="localSystem.dns.hosts.length > 0 && view.isLoaded">
  <h3>{{'DNS records list' | translate}}</h3>
  <form role="form" class="search-pf has-button search">
    <div class="form-group has-clear">
      <div class="search-pf-input-group">
        <input ng-model="objects.searchString" type="text" class="form-control input-lg" placeholder="{{'Search' | translate}}...">
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-default btn-lg" type="submit"><span class="fa fa-search"></span></button>
    </div>
  </form>
  <div class="list-group list-view-pf">
    <div ng-repeat="d in localSystem.dns.hosts | filter:objects.searchString" class="list-group-item">
      <div class="list-view-pf-actions">
        <button ng-click="editDNS(d)" class="btn btn-default">
            <span class="pficon pficon-edit span-right-margin"></span>
            {{'Edit' | translate}}
        </button>
        <div class="dropdown pull-right dropdown-kebab-pf">
          <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="fa fa-ellipsis-v"></span>
        </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a ng-click="openDeleteDNS(d)" href="">
                <span class="fa fa-times span-right-margin"></span>
                {{'Delete' | translate}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="list-view-pf-main-info">
        <div class="list-view-pf-left">
          <span class="pficon pficon-regions list-view-pf-icon-sm"></span>
        </div>
        <div class="list-view-pf-body">
          <div class="list-view-pf-description">
            <div ng-click="editDNS(d)" class="list-group-item-heading">
              <a href="">{{d.key}}</a>
            </div>
            <div class="list-group-item-text">
              {{d.Description}}
            </div>
          </div>
          <div class="list-view-pf-additional-info">
            <div class="list-view-pf-additional-info-item">
              <span class="pficon pficon-cluster"></span>
              <strong>IP:</strong> {{d.IpAddress}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newDNSModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{objects.newDNS.isEdit ? 'Edit DNS record' + ' '+ objects.newDNS.key : 'Add DNS record' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="saveDNS(objects.newDNS)">

        <div class="modal-body">
          <div ng-show="objects.newDNS.onTaskRunning" class="alert alert-warning alert-dismissable">
            <span class="pficon pficon-warning-triangle-o"></span>
            <strong>{{'Running task' | translate}}.</strong> {{objects.newDNS.errorMessage}}
          </div>

          <div class="form-group {{objects.newDNS.errorProp == 'key' ? 'has-error' : ''}}">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Hostname' | translate}}</label>
            <div class="col-sm-9">
              <input ng-disabled="objects.newDNS.isEdit" required type="text" ng-model="objects.newDNS.key" class="form-control">
              <span ng-if="objects.newDNS.errorProp == 'key'" class="help-block">{{objects.newDNS.errorMessage}}</span>
            </div>
          </div>
          <div class="form-group {{objects.newDNS.errorProp == 'IpAddress' ? 'has-error' : ''}}">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'IP Address' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.newDNS.IpAddress" class="form-control">
              <span ng-if="objects.newDNS.errorProp == 'IpAddress'" class="help-block">{{objects.newDNS.errorMessage}}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Description' | translate}}</label>
            <div class="col-sm-9">
              <input type="text" ng-model="objects.newDNS.Description" class="form-control">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button class="btn btn-primary" type="submit">{{'Save' | translate}}</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteDNSModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'Delete DNS record' | translate}} {{objects.toDeleteDNS.key}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="deleteDNS(objects.toDeleteDNS)">

        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Are you sure' | translate}}?</label>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button class="btn btn-danger" type="submit">{{'Delete' | translate}}</button>
        </div>

      </form>
    </div>
  </div>
</div>
