<div>
  Main View

  <div class="container-fluid container-cards-pf">
    <div class="row row-cards-pf">
      <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="r in allRoutes">
        <div class="card-pf card-pf-accented">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">
              {{ r.value.description }}
            </h2>
          </div>
          <div class="card-pf-body">
            <button class="btn btn-primary" type="button">Go</button>
          </div>
        </div>

      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>