<div ng-show="!view.isLoaded" class="spinner spinner-lg view-spinner"></div>

<div ng-show="localSystem.services.list.length == 0 && view.isLoaded" class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <span class="pficon pficon-regions"></span>
  </div>
  <h1>
    {{'No services found' | translate}}
  </h1>
</div>

<div ng-show="localSystem.services.list.length > 0 && view.isLoaded">
  <h3>{{'Services list' | translate}}</h3>
  <form role="form" class="search-pf has-button search">
    <div class="form-group has-clear">
      <div class="search-pf-input-group">
        <input ng-model="objects.searchString" type="text" class="form-control input-lg" placeholder="{{'Search' | translate}}...">
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-default btn-lg" type="submit">
        <span class="fa fa-search"></span>
      </button>
    </div>
  </form>
  <div class="list-group list-view-pf">
    <div ng-repeat="s in localSystem.services.list | filter:objects.searchString track by $index" class="list-group-item {{s.checked ? 'list-selected' : ''}}">
      <div class="list-view-pf-actions">
        <button ng-click="s.running ? restartService(s.name) : startService(s.name)" class="btn btn-default button-minimum">
          <span class="fa fa-{{s.running ? 'refresh' : 'play'}} span-right-margin"></span>
          {{s.running ? 'Restart' : 'Start' | translate}}
        </button>
        <div class="dropdown pull-right dropdown-kebab-pf">
          <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="fa fa-ellipsis-v"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a ng-click="s.status ?  disableService(s.name) : enableService(s.name)" href="">
                <span class="fa fa-{{s.status ? 'times' : 'check'}} span-right-margin"></span>
                {{s.status ? 'Disable' : 'Enable' | translate}}
              </a>
            </li>
            <li ng-if="s.running" role="separator" class="divider"></li>
            <li ng-if="s.running">
              <a ng-click="stopService(s.name)" href="">
                <span class="fa fa-power-off span-right-margin"></span>
                {{'Stop' | translate}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="list-view-pf-main-info">
        <div class="list-view-pf-left">
          <span class="fa fa-fighter-jet list-view-pf-icon-sm {{(s.status && !s.running) ? 'service-icon-problem' : ''}}"></span>
        </div>
        <div class="list-view-pf-body">
          <div class="list-view-pf-description">
            <div class="list-group-item-heading">
              <span class="{{(s.status && !s.running) ? 'red' : ''}}">{{s.name}}</span>
            </div>
            <div class="list-group-item-text">
              <span>{{s.description}}</span>
            </div>
          </div>
          <div class="list-view-pf-additional-info">
            <div class="list-view-pf-additional-info-item {{s.status ? 'green' : ''}}">
              <span class="fa fa-{{s.status ? 'check' : 'times'}}"></span>
              <strong>{{s.status ? 'Enabled' : 'Disabled' | capitalize}}</strong>
            </div>
            <div class="list-view-pf-additional-info-item {{s.running ? 'green' : s.status && !s.running ? 'red' : ''}}">
              <span class="fa fa-{{s.running ? 'bolt' : 'power-off'}}"></span>
              <strong>{{s.running ? 'Running' : 'Stopped' | translate}}</strong>
            </div>
            <div class="list-view-pf-additional-info-item">
              <div ng-click="toggleDetails($event)" class="list-view-pf-expand">
                {{'Details' | translate}}
                <span class="fa fa-angle-right"></span>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="list-group-item-container container-fluid hidden">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <h4>{{'Properties' | translate}}</h4>
            <dl class="dl-horizontal">
              <span ng-repeat="(kp,p) in s.props">
                <dt>{{kp}}</dt>
                <dd>{{p || '-'}}</dd>
              </span>
              <span ng-if="s.props | isempty">
                <dt>-</dt>
                <dd></dd>
              </span>
            </dl>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <h4>{{'Network' | translate}}</h4>
            <dl class="dl-horizontal">
              <span ng-repeat="(kp,p) in s.ports">
                <dt>{{kp}}</dt>
                <dd>{{kp == 'access' ? (p || '-') : (p.join(', ') || '-')}}</dd>
              </span>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
