<div ng-if="localSystem.users.provider == null && localSystem.users.chooseProvider == null" class="blank-slate-pf " id="">
  <div class="blank-slate-pf-icon">
    <span class="pficon pficon-users"></span>
  </div>
  <h1>
    {{'No accounts provider configured' | translate}}
  </h1>
  <p>
    {{'Users and groups are available through an accounts provider. You can connect this server to a remote accounts provider,
    or install a local one. Some features are available depending on the accounts provider type' | translate}}
  </p>
  <div class="blank-slate-pf-main-action">

    <div class="col-sm-6 col-md-6 card-pf card-pf-accented margin-right-md">
      <div class="blank-slate-pf no-padding margin-top-md white-background" id="">
        <div class="blank-slate-pf-icon">
          <span class="fa fa-database"></span>
        </div>
        <h1>
          LDAP
        </h1>
        <p>
          {{'Easy to configure, does not support authenticated access to shared folders' | translate}}
        </p>
        <div class="blank-slate-pf-main-action">
          <button ng-click="selectProvider('ldap')" class="btn btn-primary btn-lg">{{'Use LDAP' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 card-pf card-pf-accented margin-left-md">
      <div class="blank-slate-pf no-padding margin-top-md white-background" id="">
        <div class="blank-slate-pf-icon">
          <span class="pficon pficon-repository"></span>
        </div>
        <h1>
          Active Directory
        </h1>
        <p>
          {{'Enables all shared folders features, requires advanced configuration options' | translate}}
        </p>
        <div class="blank-slate-pf-main-action">
          <button ng-click="selectProvider('directory')" class="btn btn-primary btn-lg">{{'Use Active Directory' | translate}}</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div ng-if="localSystem.users.provider !== null">
  <h3>Summary</h3>
</div>

<div ng-if="localSystem.users.provider !== null">
  <h3>{{'Actions' | translate}}</h3>
  <div class="btn-group">
    <button ng-click="openCreateUser()" class="btn btn-primary btn-lg shutdown-privileged" data-action="restart" data-container="body">{{'Create user' | translate}}</button>
    <button data-toggle="dropdown" class="btn btn-primary btn-lg dropdown-toggle shutdown-privileged">
          <span class="caret"></span>
      </button>
    <ul role="menu" class="dropdown-menu">
      <li class="presentation">
        <a href="" ng-click="openCreateUser()" role="menuitem" data-action="restart">{{'Create user' | translate}}</a>
      </li>
      <li class="presentation">
        <a href="" ng-click="openCreateGroup()" role="menuitem" data-action="restart">{{'Create group' | translate}}</a>
      </li>
    </ul>
  </div>
</div>

<div ng-if="localSystem.users.provider !== null">
  <h3>{{'Users and Groups list' | translate}}</h3>
  <form role="form" class="search-pf has-button search">
    <div class="form-group has-clear toolbar-pf-filter">
      <label class="sr-only" for="filter">{{objects.availableSearchFilter[objects.currentSearchFilter]}}</label>
      <div class="input-group full-width">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default btn-lg dropdown-toggle adjust-filter-search" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
              {{objects.availableSearchFilter[objects.currentSearchFilter]}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="(kf, f) in objects.availableSearchFilter" class="{{objects.currentSearchFilter == kf ? 'selected' : ''}}">
              <a ng-click="switchFilterSearch(kf)" href="">{{f}}</a>
            </li>
          </ul>
        </div>
        <input ng-model="objects.searchString" type="text" class="form-control input-lg" id="filter" placeholder="Filter by {{objects.availableSearchFilter[objects.currentSearchFilter]}}...">
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-default btn-lg" type="submit"><span class="fa fa-search"></span></button>
    </div>
  </form>

  <div class="list-group list-view-pf">
    <div ng-if="objects.currentSearchFilter == 'user'" ng-repeat="u in localSystem.users.list | filter:objects.searchString"
      class="list-group-item">
      <div class="list-view-pf-actions">
        <button ng-click="openEditUser(u)" class="btn btn-default">
          <span class="pficon pficon-edit span-right-margin"></span>
          {{'Edit' | translate}}
        </button>
        <div class="dropdown pull-right dropdown-kebab-pf">
          <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="fa fa-ellipsis-v"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a ng-click="openChangePassword(u)" href="">
                  <span class="fa fa-key span-right-margin"></span>
                {{'Change password' | translate}}</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a ng-click="openDeleteUser(u)" href="">
                  <span class="fa fa-times span-right-margin"></span>
                {{'Delete' | translate}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="list-view-pf-main-info">
        <div class="list-view-pf-left">
          <span class="fa fa-user list-view-pf-icon-sm"></span>
        </div>
        <div class="list-view-pf-body">
          <div class="list-view-pf-description">
            <div ng-click="openEditUser(u)" class="list-group-item-heading">
              <a href="">{{u.username}}</a>
            </div>
            <div class="list-group-item-text">
              {{u.name}}
            </div>
          </div>
          <div class="list-view-pf-additional-info">
          </div>
        </div>
      </div>
    </div>

    <div ng-if="objects.currentSearchFilter == 'group'" ng-repeat="g in localSystem.groups.list | filter:objects.searchString"
      class="list-group-item">
      <div class="list-view-pf-actions">
        <button ng-click="openEditGroup(g)" class="btn btn-default">
            <span class="pficon pficon-edit span-right-margin"></span>
            {{'Edit' | translate}}
          </button>
        <div class="dropdown pull-right dropdown-kebab-pf">
          <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="fa fa-ellipsis-v"></span>
            </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a ng-click="openDeleteGroup(g)" href="">
                    <span class="fa fa-times span-right-margin"></span>
                  {{'Delete' | translate}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="list-view-pf-main-info">
        <div class="list-view-pf-left">
          <span class="fa fa-users list-view-pf-icon-sm"></span>
        </div>
        <div class="list-view-pf-body">
          <div class="list-view-pf-description">
            <div ng-click="openEditGroup(g)" class="list-group-item-heading">
              <a href="">{{g.name}}</a>
            </div>
            <div class="list-group-item-text">
              {{g.name}}
            </div>
          </div>
          <div class="list-view-pf-additional-info">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="localSystem.users.provider == null && localSystem.users.chooseProvider == 'ldap'" class="blank-slate-pf " id="">
  <div class="blank-slate-pf-icon">
    <span class="fa fa-database"></span>
  </div>
  <h1>
    {{'You choose' | translate}}: <strong>LDAP</strong> <button ng-click="selectProvider(null)" class="btn btn-primary">{{'Change' | translate}}</button>
  </h1>
  <p>
    {{'An LDAP database can store users, groups and passwords. It is required a RFC2307 compatible LDAP schema' | translate}}
  </p>
  <div class="blank-slate-pf-main-action">

    <div class="col-sm-6 col-md-6 card-pf card-pf-accented margin-right-md">
      <div class="blank-slate-pf no-padding margin-top-md white-background" id="">
        <div class="blank-slate-pf-icon">
          <span class="fa fa-cloud"></span>
        </div>
        <h1>
          {{'Bind to Remote' | translate}}
        </h1>
        <div class="blank-slate-pf-main-action">
          <button ng-click="openBindToRemote()" class="btn btn-primary btn-lg">{{'Bind' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 card-pf card-pf-accented margin-left-md">
      <div class="blank-slate-pf no-padding margin-top-md white-background" id="">
        <div class="blank-slate-pf-icon">
          <span class="fa fa-download"></span>
        </div>
        <h1>
          {{'Install an OpenLDAP Server' | translate}}
        </h1>
        <div class="blank-slate-pf-main-action">
          <button ng-click="openInstallLDAP()" class="btn btn-primary btn-lg">{{'Install' | translate}}</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div ng-if="localSystem.users.provider == null && localSystem.users.chooseProvider == 'directory'" class="blank-slate-pf "
  id="">
  <div class="blank-slate-pf-icon">
    <span class="pficon pficon-repository"></span>
  </div>
  <h1>
    {{'You choose' | translate}}: <strong>Active Directory</strong> <button ng-click="selectProvider(null)" class="btn btn-primary">{{'Change' | translate}}</button>
  </h1>
  <p>
    {{'Computers in an Active Directory domain can be simple members or domain controllers (DC)' | translate}}
  </p>
  <div class="blank-slate-pf-main-action">

    <div class="col-sm-6 col-md-6 card-pf card-pf-accented margin-right-md">
      <div class="blank-slate-pf no-padding margin-top-md white-background" id="">
        <div class="blank-slate-pf-icon">
          <span class="fa fa-graduation-cap"></span>
        </div>
        <h1>
          {{'Join an existing domain' | translate}}
        </h1>
        <div class="blank-slate-pf-main-action">
          <button ng-click="openJoinADomain()" class="btn btn-primary btn-lg">{{'Join' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 card-pf card-pf-accented margin-left-md">
      <div class="blank-slate-pf no-padding margin-top-md white-background" id="">
        <div class="blank-slate-pf-icon">
          <span class="fa fa-magic"></span>
        </div>
        <h1>
          {{'Create new domain and become DC' | translate}}
        </h1>
        <div class="blank-slate-pf-main-action">
          <button ng-click="openCreateDC()" class="btn btn-primary btn-lg">{{'Create' | translate}}</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="bindToRemoteModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'Bind to Remote LDAP Server' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="bindToRemote(objects.newProvider)">

        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Hostname or IP' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.newProvider.hostname" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'TCP Port' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.newProvider.tcpport" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Configuration' | translate}}</label>
            <div class="col-sm-9">
              <button class="btn btn-primary" ng-click="checkBindConfig(objects.newProvider)">{{'Check' | translate}}</button>
              <span ng-if="objects.newProvider.checkedConfig" class="pficon pficon-ok status-icon"></span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button ng-disabled="!objects.newProvider.checkedConfig" class="btn btn-primary" type="submit">{{'Bind' | translate}}</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="installLDAPModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'Install an OpenLDAP server' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="installLDAP()">

        <div class="modal-body">
          <p>{{'Download and configure OpenLDAP server as local LDAP accounts provider' | translate}}</p>
          <div class="progress-description">
            <div class="spinner spinner-xs spinner-inline"></div> <strong>{{'Installing'}}:</strong> {{'OpenLDAP server'}}
          </div>
          <div class="progress progress-label-top-right">
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
              <span>40%</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button class="btn btn-primary" type="submit">{{'Install' | translate}}</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="joinADomainModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'Join Active Directory' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="joinADomain(objects.newProvider)">

        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'DNS domain name' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.newProvider.dnsDomainName" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'AD DNS Server' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.newProvider.adDNSServer" class="form-control">
            </div>
          </div>
          <p>{{'Credentials for joining the domain' | translate}}</p>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Username' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.newProvider.credentials.username" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Password' | translate}}</label>
            <div class="col-sm-9">
              <input required type="password" ng-model="objects.newProvider.credentials.password" class="form-control">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button class="btn btn-primary" type="submit">{{'Join' | translate}}</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="createDCModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'Create a new Active Directory domain' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="createDC(objects.newProvider)">

        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'DNS domain name' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.newProvider.dnsDomainName" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'NetBIOS domain name' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.newProvider.netbiosDomainName" class="form-control">
            </div>
          </div>
          <div class="alert alert-warning alert-dismissable">
            <span class="pficon pficon-warning-triangle-o"></span>
            <strong>{{'The chosen IP address must satisfy all of the below conditions' | translate}}</strong>
            <ul>
              <li>{{'the IP address must be in the same subnet range of a green network: 192.168.5.0/24' | translate}}</li>
              <li>{{'the IP address must be unused currently' | translate}}</li>
            </ul>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Domain Controller IP address' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.newProvider.domainControllerIP" class="form-control">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button class="btn btn-primary" type="submit">{{'Create' | translate}}</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{objects.toDelete.isGroup ? 'Delete group' : 'Delete user' | translate}} {{objects.toDelete[objects.toDelete.isGroup
          ? 'name' : 'username']}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="objects.toDelete.isGroup ? deleteGroup(toDelete) : deleteUser(toDelete)">

        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Are you sure' | translate}}?</label>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button class="btn btn-danger" type="submit">{{'Delete' | translate}}</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{objects.newUser.isEdit ? objects.newUser.isPassEdit ? 'Change password to' +' '+ objects.newUser.username : 'Edit'
          + ' ' + objects.newUser.username : 'Create a new user' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="objects.newUser.isEdit ? objects.newUser.isPassEdit ? changePassword(objects.newUser) : editUser(objects.newUser) : createUser(objects.newUser)">

        <div class="modal-body">
          <div ng-if="!objects.newUser.isPassEdit" class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Username' | translate}}</label>
            <div class="col-sm-5">
              <input required type="text" ng-model="objects.newUser.username" class="form-control">
            </div>
            <div class="col-sm-4">
              <input ng-disabled="true" type="text" ng-model="localSystem.users.domain" class="form-control">
            </div>
          </div>
          <div ng-if="!objects.newUser.isPassEdit" class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Name' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" ng-model="objects.newUser.name" class="form-control">
            </div>
          </div>
          <div ng-if="!objects.newUser.isPassEdit" class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Groups' | translate}}</label>
            <div class="col-sm-9">
              <select ng-change="addGroupToUser(objects.newUser.selectedGroup)" ng-model="objects.newUser.selectedGroup" class="combobox form-control">
                <option></option>
                <option ng-value="g.name" ng-repeat="g in localSystem.groups.list">{{g.name}}</option>
              </select>
            </div>
          </div>
          <div ng-if="!objects.newUser.isPassEdit" ng-repeat="g in objects.newUser.groups" class="form-group">
            <label class="col-xs-12 col-sm-3 control-label" for="textInput-modal-markup"></label>
            <div class="col-xs-7 col-sm-6">
              <input type="text" ng-model="g" class="form-control">
            </div>
            <div class="col-xs-5 col-sm-2">
              <button ng-click="removeGroupFromUser($index)" class="btn btn-default" type="button">
                <span class="fa fa-minus card-icon-def"></span>
              </button>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Password' | translate}}</label>
            <div class="col-sm-7">
              <input required type="{{objects.newUser.isPassGenerated ? 'text' : 'password'}}" ng-model="objects.newUser.password" class="form-control">
            </div>
            <div class="col-sm-2">
              <button ng-click="generatePassword()" type="button" class="btn btn-primary">{{'Generate' | translate}}</button>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Confirm password' | translate}}</label>
            <div class="col-sm-7">
              <input required type="{{objects.newUser.isPassGenerated ? 'text' : 'password'}}" ng-model="objects.newUser.confirmPassword"
                class="form-control">
            </div>
          </div>
          <p ng-if="!objects.newUser.isPassEdit">{{'Advanced options' | translate}}</p>
          <div ng-if="!objects.newUser.isPassEdit" class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Password expiration' | translate}}</label>
            <div class="col-sm-9">
              <input type="checkbox" ng-model="objects.newUser.passwordExpiration">
            </div>
          </div>
          <div ng-if="!objects.newUser.isPassEdit" class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Remote shell (SSH)' | translate}}</label>
            <div class="col-sm-9">
              <input type="checkbox" ng-model="objects.newUser.remoteShell">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button class="btn btn-primary" type="submit">{{objects.newUser.isEdit ? objects.newUser.isPassEdit ? 'Change' : 'Edit' : 'Create' | translate}}</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{objects.newGroup.isEdit ? 'Edit' + ' ' + objects.newGroup.name : 'Create a new group' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="objects.newGroup.isEdit ? editGroup(objects.newGroup) : createGroup(objects.newGroup)">

        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Name' | translate}}</label>
            <div class="col-sm-5">
              <input required type="text" ng-model="objects.newGroup.name" class="form-control">
            </div>
            <div class="col-sm-4">
              <input ng-disabled="true" type="text" ng-model="localSystem.groups.domain" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Users' | translate}}</label>
            <div class="col-sm-9">
              <select ng-change="addUserToGroup(objects.newGroup.selectedUser)" ng-model="objects.newGroup.selectedUser" class="combobox form-control">
                <option></option>
                <option ng-value="u.username" ng-repeat="u in localSystem.users.list">{{u.username}} - {{u.name}}</option>
              </select>
            </div>
          </div>
          <div ng-repeat="u in objects.newGroup.users" class="form-group">
            <label class="col-xs-12 col-sm-3 control-label" for="textInput-modal-markup"></label>
            <div class="col-xs-7 col-sm-6">
              <input type="text" ng-model="u" class="form-control">
            </div>
            <div class="col-xs-5 col-sm-2">
              <button ng-click="removeUserFromGroup($index)" class="btn btn-default" type="button">
                  <span class="fa fa-minus card-icon-def"></span>
                </button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button class="btn btn-primary" type="submit">{{objects.newGroup.isEdit ? 'Edit' : 'Create' | translate}}</button>
        </div>

      </form>
    </div>
  </div>
</div>
